<div class="navbar">
    <span class="logo">E Store</span>
    <ul>
        <li><a href="">Home</a></li>
        <li><a href="../product.ejs">Products</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="">Login</a></li>
    </ul>
</div>